{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
        <div class="row">
            <div class="col">
                Welcome{% if is_granted('IS_AUTHENTICATED_FULLY') %}, {{ app.user|capitalize }}{% endif %}!
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/gmaps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" type="text/javascript"></script>
{% endblock %}