{% extends 'base.html.twig' %}

{% block title %}Report lost or found item!{% endblock %}

{% block body %}
    <div class="row">
        <h1>Ovdje ide neki naslov</h1>
    </div>
    <div class="row">
        Ovdje pojašnjenje ili možda listanje zadnjih 10 izgubljneih/nađenih stvari
    </div>
{% endblock %}
